@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

body{
    font-family: 'Comfortaa', cursive !important;
}
/* !important - helped me overwrite font inherited from body. This is working and helping if your google font is not showing in browser */


.container {
    border: 1px solid black;
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hex-colors {
    
    text-align: center;
}

#hex-colors h1, h2 {
    border: 1px solid black;
    size: 2rem;
    text-transform: uppercase;
    -ms-animation: colorchange 5s infinite alternate;
    -moz-animation: colorchange 5s infinite alternate;
    -o-animation: colorchange 5s infinite alternate;
    animation: colorchange 5s infinite alternate;
}

#hex-colors h2 {
    border: 1px solid black;
    margin-top: 15%;
    size: 2rem;
    text-transform: lowercase;
}

#submit {
    margin-top: 10%;
}

@-ms-keyframes colorchange{
    0% {
          color: #ffffff;
        }
        
        20% {
          color: #cccccc;
        }
        
        40% {
          color: #999999;
        }
        
        60% {
          color: #666666;
        }
        
        80% {
          color: #333333;
        }
        
        100% {
          color: #000000;
        } 
  }

@-moz-keyframes colorchange{
    0% {
          color: #ffffff;
        }
        
        20% {
          color: #cccccc;
        }
        
        40% {
          color: #999999;
        }
        
        60% {
          color: #666666;
        }
        
        80% {
          color: #333333;
        }
        
        100% {
          color: #000000;
        } 
  }

  @-o-keyframes colorchange{
        0% {
          color: #ffffff;
        }
        
        20% {
          color: #cccccc;
        }
        
        40% {
          color: #999999;
        }
        
        60% {
          color: #666666;
        }
        
        80% {
          color: #333333;
        }
        
        100% {
          color: #000000;
        } 
  }

  @keyframes colorchange {
      0% {
        color: #ffffff;
      }
      
      20% {
        color: #cccccc;
      }
      
      40% {
        color: #999999;
      }
      
      60% {
        color: #666666;
      }
      
      80% {
        color: #333333;
      }
      
      100% {
        color: #ffffff;
      }  
}

@media(max-width: 480px){
    .hex-colors h1{
        font-size: 1.5rem;
    }
    .hex-colors h2{
        font-size: 1.5rem;
    }
}

#submit:hover {background-color: darkcyan;}

#submit:active {
    background-color: cyan;
    box-shadow: 0 5px lightcyan;
}

